*.egg-info/
*.ipynb_checkpoints/
dist/
build/
*.py[cod]
*.egg-info/

.vs_code/

node_modules/

static/

.DS_Store

_build

*.old*

**/package-lock.json

nb/*.html
nb/*.sh
nb/*.js

.idea

Examples/*.xlsx

